##################################
## JETBRAINS RESHARPER
##################################

*.dotsettings.user

##################################
## VISUAL STUDIO
##################################

*.suo

.vs/
