##################################
## APPLICATION
##################################

/artifacts

##################################
## JETBRAINS RESHARPER
##################################

*.dotsettings.user

##################################
## VISUAL STUDIO
##################################

*.pfx
*.suo
*.user

.vs/

[Bb]in/
[Dd]ebug/
[Oo]bj/
[Pp]ublish/
[Rr]elease/
